* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas;
}

body {
  min-height: 100vh;
  width: 100vw;
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 1500px;
}

.info {
  margin-bottom: 50px;
  border-bottom: 1px solid #a09c9c;
  padding-bottom: 10px;
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 5px;
  }
  ul {
    margin-left: 25px;
  }
}

.panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  > div {
    margin: 10px;
    button {
      background: rgb(160, 156, 156);
      margin-right: 10px;
      box-shadow: 0 0 0 2px rgba(0,0,0,0.75), 10px 20px 25px rgba(0,0,0,0.4);
      font-size: 30px;
      color: white;
      padding: 10px;
      cursor: pointer;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }

    .start {
      background: linear-gradient(180deg, #073d01, #043500);
    }

    .start.active {
      background: linear-gradient(180deg, #078301, #047b00);

    }
    .reset {
      background: linear-gradient(180deg, #3d0001, #350001);
    }

    .reset.active {
      background: linear-gradient(180deg, #830001, #7b0001);
    }
  }

  .flex-select {
    display: flex;
    justify-content: flex-start;

    > div {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      align-items: center;

      label {
        margin-bottom: 10px;
      }

      select {
        background-color: white;
        border: thin solid #1d1d1d;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        margin: 0 0 25px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image:
                linear-gradient(45deg, transparent 50%, white 50%),
                linear-gradient(135deg, white 50%, transparent 50%),
                linear-gradient(to right, #4c4b4b, #161616);
        background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
        &:focus {
          background-image:
                  linear-gradient(45deg, white 50%, transparent 50%),
                  linear-gradient(135deg, transparent 50%, white 50%),
                  linear-gradient(to right, gray, gray);
          background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
          background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
          background-repeat: no-repeat;
          border-color: grey;
          outline: 0;
        }
      }
    }
  }
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;

  .box {
    height: auto;
    width: 600px;
    border: 50px outset rgb(160, 156, 156);
    padding: .857em;
    background-color: rgb(160, 156, 156);
    outline: 5px solid black;
    position: relative;
    margin: 25px;

    .buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 20px;
      padding: 10px 0;

      span {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 10px;
        margin: 5px;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      z-index: 0;
      border: 3px solid black;
      background: transparent;
    }

    .correct {
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 2;

      span {
        border-radius: 50%;
        height: 25px;
        width: 25px;
        border: 2px solid black;
        background: rgb(160, 156, 156);
        margin-right: 10px;

        &.green {
          border: 2px solid #1e8a00;
          background: #12DE00;
        }
      }

    }

    @media screen and(max-width: 700px) {
      height: auto;
      width: 85.71vw;
      border: 7.14vw outset rgb(160, 156, 156);

      .buttons {
        padding: 0;
        span {
          width: 12.85vw;
          height: 12.85vw;
        }
      }

      .correct {
        span {
          height: 3.57vw;
          width: 3.57vw;
          margin-right: 1.42vw;
        }
      }
    }
  }

  .left-box {
    .buttons {
      background: black;
      span.active {
        background: #1e8a00;
      }
    }
  }

  .right-box {
    .buttons {
      span {
        background: linear-gradient(180deg, #282828, #202020);
        box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),
        inset 0 -8px 8px rgba(0,0,0,0.25),
        0 0 0 2px rgba(0,0,0,0.75),
        10px 20px 25px rgba(0,0,0,0.4);
        overflow: hidden;
        cursor: pointer;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 10px;
          top: 10px;
          bottom: 10px;
          right: 10px;
          background: linear-gradient(90deg, #232323, #4a4a4a);
          border-radius: 10px;
          box-shadow: -10px -10px 10px rgba(255,255,255,0.25),
          10px 5px 10px rgba(0,0,0,0.15);
          border-left: 1px solid #0004;
          border-bottom: 1px solid #0004;
          border-top: 1px solid #0004;
        }

        &.active {
          background: linear-gradient(180deg, #073d01, #043500);
          &::before {
            background: linear-gradient(90deg, #073d01, #043500);
          }
        }
      }
    }
  }
}


